.stickyFooter {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: var(--mantine-color-body);
  border-top: 1px solid var(--mantine-color-default-border);
  margin-top: var(--mantine-spacing-md);
  margin-inline: calc(var(--mantine-spacing-md) * -1);
  margin-bottom: calc(var(--mantine-spacing-md) * -1);
  padding: var(--mantine-spacing-md);
}
